<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Movie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/update_movie_style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('user_movies', user_id=user_id) }}" class="back-to-movies">Back to Movies</a>
        <a href="{{ url_for('home') }}" class="home-button">Home</a>
    </div>

    <div class="container">
        <h1>Update Movie</h1>
        <form method="post" class="form">
            <label for="name">Movie Name:</label>
            <input type="text" id="name" name="name" value="{{ movie.name }}" required>

            <label for="director">Director:</label>
            <input type="text" id="director" name="director" value="{{ movie.director }}" required>

            <label for="year">Year:</label>
            <input type="number" id="year" name="year" value="{{ movie.year }}" required>

            <label for="rating">Rating:</label>
            <input type="number" step="0.1" id="rating" name="rating" value="{{ movie.rating }}" required>

            <button type="submit">Update Movie</button>
        </form>
    </div>
</body>
</html>
